---
import { format } from "date-fns";
import BaseLayout from "../layouts/BaseLayout.astro";
import AudioPlayer from "../components/AudioPlayer.astro";
const { frontmatter } = Astro.props;
---

<style>
  .dot {
    @apply aspect-square h-1 w-1 rounded-full bg-fuchsia-600;
  }
</style>

<BaseLayout pageTitle={frontmatter.title} frontmatter={frontmatter}>
  <a href="/blog" class="text-neutral-800">back</a>
  <div class="my-16 space-y-4">
    <h1 class="text-2xl lg:text-3xl">{frontmatter.title}</h1>
    <div class="flex items-center gap-3 text-sm">
      <p>{frontmatter.author}</p>
      <div class="dot"></div>
      <p>{format(frontmatter.pubDate, "dd MMM yyyy")}</p>
      <div class="dot"></div>
      <p>{frontmatter.minutesRead}</p>
    </div>
  </div>
  <AudioPlayer />
  <article
    class="prose prose-zinc max-w-[80ch] leading-8 prose-h2:font-normal prose-h3:font-normal prose-blockquote:pr-4 prose-blockquote:text-2xl prose-blockquote:font-thin prose-blockquote:italic prose-hr:border-neutral-200"
  >
    <slot />
  </article>
</BaseLayout>
