---
import { format } from "date-fns";
import BaseLayout from "../layouts/BaseLayout.astro";
import AudioPlayer from "../components/AudioPlayer.astro";
const { frontmatter } = Astro.props;
---

<style>
  .dot {
    @apply aspect-square size-2 rounded-full bg-primary;
  }
</style>

<BaseLayout pageTitle={frontmatter.title} frontmatter={frontmatter}>
  <a href="/blog" class="flex items-center gap-2 transition-all hover:gap-5">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="size-5 fill-primary"
      viewBox="0 0 256 256"
      ><path
        d="M228,128a12,12,0,0,1-12,12H69l51.52,51.51a12,12,0,0,1-17,17l-72-72a12,12,0,0,1,0-17l72-72a12,12,0,0,1,17,17L69,116H216A12,12,0,0,1,228,128Z"
      ></path></svg
    >
    <p>back</p>
  </a>
  <div class="my-16 space-y-6">
    <h1
      class="text-3xl underline decoration-primary decoration-wavy underline-offset-4 lg:text-4xl"
    >
      {frontmatter.title}
    </h1>
    <div class="flex items-center gap-4">
      <p>{frontmatter.author}</p>
      <div class="dot"></div>
      <p>{format(frontmatter.pubDate, "dd MMM yyyy")}</p>
      <div class="dot"></div>
      <p>{frontmatter.minutesRead}</p>
    </div>
  </div>
  {frontmatter.hasAudio && <AudioPlayer slug={frontmatter.slug} />}
  <article
    class="prose prose-lg prose-zinc max-w-none pb-8 leading-8 dark:prose-invert marker:text-primary/75 prose-h2:font-normal prose-h3:font-normal prose-a:font-normal prose-blockquote:border-primary/75 prose-blockquote:pr-4 prose-blockquote:text-2xl prose-blockquote:font-thin prose-blockquote:italic prose-hr:border-primary/70 md:pb-12"
  >
    <slot />
  </article>
</BaseLayout>
