---
import { format } from "date-fns";
import BaseLayout from "../layouts/BaseLayout.astro";
import AudioPlayer from "../components/AudioPlayer.astro";
const { frontmatter } = Astro.props;
---

<style>
  .dot {
    @apply aspect-square size-2 rounded-full bg-primary;
  }
</style>

<BaseLayout pageTitle={frontmatter.title} frontmatter={frontmatter}>
  <a href="/blog">back</a>
  <div class="my-16 space-y-6">
    <h1
      class="text-3xl underline decoration-primary decoration-wavy underline-offset-4 lg:text-4xl"
    >
      {frontmatter.title}
    </h1>
    <div class="flex items-center gap-4">
      <p>{frontmatter.author}</p>
      <div class="dot"></div>
      <p>{format(frontmatter.pubDate, "dd MMM yyyy")}</p>
      <div class="dot"></div>
      <p>{frontmatter.minutesRead}</p>
    </div>
  </div>
  {frontmatter.hasAudio && <AudioPlayer slug={frontmatter.slug} />}
  <article
    class="prose prose-lg prose-zinc max-w-none pb-8 leading-8 dark:prose-invert marker:text-primary/75 prose-h2:font-normal prose-h3:font-normal prose-a:font-normal prose-blockquote:border-primary/75 prose-blockquote:pr-4 prose-blockquote:text-2xl prose-blockquote:font-thin prose-blockquote:italic prose-hr:border-primary/70 md:pb-12"
  >
    <slot />
  </article>
</BaseLayout>
